<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/base.css">
    <script src="./public/src/index.js" type="module"></script>
    <title>Document</title>
</head>
<body>
    <div class="app">
        <div class="owner-host">
            <% if (user) { %>
                <%- include('vkOwner'), {user:user} %>
            <% } %>
            
        </div>
        <div class="friends-host">
            <div class="main-panel panel">
                <input type="text" name="filter" id="filter" class="filter-main-folder" placeholder="фильтр по имени"/>
                <div class="friends-folder folder-main"></div>
            </div>
            <div class="select-panel panel">
                <input type="text" name="filter" id="filter" class="filter-select-folder" placeholder="фильтр по имени"/>
                <div class="friends-folder folder-select"></div>
            </div>
        </div> 
    </div>

    <script type="module">
        const friendsHost = document.querySelector(".friends-folder");
        let template = ``;
        let friendsItems;
        

        function addFriends(json){
            const count= json.response.count;
            const friends = json.response.items;
            friends.forEach(friend=>{
                template+=`<div class="friend">
                            <vk-user user-id="${friend.id}" user-photo="${friend.photo_max_orig}" user-name="${friend.first_name} ${friend.last_name}"/>
                        </div>`
            })
            friendsHost.innerHTML = template;
            friendsItems = [...friendsHost.querySelectorAll("vk-user")];
        }
        fetch("http://127.0.0.1:1234/api/friends/get")
        .then(res=>res.json()).then((json)=>{
            addFriends(json);
        })
        .catch(err=>console.log(err))
    /* ------------------ FILTER -------------------- */
        const filter = document.querySelector("#filter");

        filter.addEventListener("keyup",(e)=>{
            friendsItems.forEach(item=>{   
                        
                if(item.getName().toLowerCase().startsWith(e.target.value.toLowerCase())){
                    item.classList.remove("hide");
                }else{
                    item.classList.add("hide");
                }
            })
        })

    /* ----------------- EVENT ON FRIEND ------------- */
        const mainFolder = document.querySelector(".folder-main");
        const selectFolder = document.querySelector(".folder-select");
        const friendClickHandler=(friend,from,to)=>{
            from.removeChild(friend);
            to.appendChild(friend);            
        }
        mainFolder.addEventListener("click",(e)=>{
            friendClickHandler(e.target.parentNode,mainFolder,selectFolder)
        });
        selectFolder.addEventListener("click",(e)=>{
            friendClickHandler(e.target.parentNode,selectFolder,mainFolder)
        })

    </script>    
</body>
</html>