<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/base.css">
    <script src="./public/src/index.js" type="module"></script>
    <title>Document</title>
</head>
<body>
    <div class="app">
        <div class="owner-host">
            <% if (user) { %>
                <%- include('vkOwner'), {user:user} %>
            <% } %>
        </div>
        <div class="friends-host">
            <% if (friends) { %>
                <%- include('vkFriends') %>
                <% friends.forEach(function(user){ %>
                    <div class="friend">
                        <%- include('vkOwner', {user: user.getData()}); %>
                    </div>
                <% }); %>
            <% } %>
        </div>
        
    </div>
    
</body>
</html>